header {
	text-align: center;
	font-size: 50px;
color: white;
}
body {
	background-color: black;
}
➤Product list-1 CSS Code is have given below.
/*heading*/
.heading strong{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading strong{
    color: #ffffff;
    background-color: #202020;
    font-weight: 500;
}
.heading p{
    color: white;
    margin: 10px;
    font-size: 0.9rem;
}
.container {
	width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    margin: 20px;}

.img{
    width:200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}
.img img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    }
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
}
.p-name{
    color: #727272;
}
.p-price{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;

    }
.box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}

}
.box:hover {
    display: flex;
}
.new-arrival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
