.bg-image {
    background-image: url('https://img.freepik.com/free-photo/dark-wall-empty-room-with-plants-floor-3d-rendering_41470-3847.jpg?size=626&ext=jpg&ga=GA1.2.747678344.1655980204');
    background-repeat: no-repeat;
    background-size: 100%;
}
